<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.PostgreSQLDialect
		</property>
		<property name="connection.url">jdbc:postgresql://18.220.46.166:5432/BIOBOX</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password"><![CDATA[g2Y4&779j0e!]]></property>
		<mapping resource="orm.xml"/>
	</session-factory>
</hibernate-configuration>
