<?xml version="1.0" encoding="UTF-8"?>
<!-- Don't forget to set system property -Dlog4j2.contextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
	to make all loggers asynchronous. -->
<Configuration status="DEBUG">
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<!--			<PatternLayout 	pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" disableAnsi="false"/>-->
<!--			<PatternLayout pattern="%highlight{[%d] - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>-->
<!--			<PatternLayout pattern="%highlight{%d [%t] %-5level: %msg%n%throwable}{STYLE=Logback}"-->
<!--			               disableAnsi="false"/>-->
<!--			{FATAL=white, ERROR=red, WARN=blue, INFO=black, DEBUG=green, TRACE=yellow}-->
<!--			{FATAL=bright red, ERROR=bright red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=white}-->
			<PatternLayout disableAnsi="false">
				<pattern>
					%highlight{%d [%t] %-5level %c{1}: %msg%n%throwable}{FATAL=bright red, ERROR=bright red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=bright white}
				</pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="LogToFile" fileName="logs/BioBox.log"
		             bufferedIO="true" ignoreExceptions="false"
		             filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout disableAnsi="false">
				<Pattern>
					%d [%t] %-5level %c{1}: %msg%n%throwable
				</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="6MB"/>
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="mx.com.tecnetia" level="debug" additivity="false">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</Logger>
		<Logger name="org.springframework.boot" level="error" additivity="false">
			<AppenderRef ref="LogToConsole"/>
			<AppenderRef ref="LogToFile"/>
		</Logger>
		<Logger name="org.springframework" level="error" additivity="false">
			<AppenderRef ref="LogToConsole"/>
			<AppenderRef ref="LogToFile"/>
		</Logger>
		<Logger name="org.hibernate.type.descriptor.sql" level="TRACE" additivity="false">
			<AppenderRef ref="LogToConsole"/>
			<AppenderRef ref="LogToFile"/>
		</Logger>
		<Logger name="org.hibernate.type" level="TRACE" additivity="false">
			<AppenderRef ref="LogToConsole"/>
			<AppenderRef ref="LogToFile"/>
		</Logger>
		<!-- Log everything in hibernate -->
		<Logger name="org.hibernate" level="error" additivity="false">
			<AppenderRef ref="LogToConsole"/>
			<AppenderRef ref="LogToFile"/>
		</Logger>
		<!-- Log all SQL statements -->
		<Logger name="org.hibernate.SQL" level="debug" additivity="false">
			<AppenderRef ref="LogToConsole"/>
			<AppenderRef ref="LogToFile"/>
		</Logger>
		<Root level="error">
			<AppenderRef ref="LogToFile"/>
			<AppenderRef ref="LogToConsole"/>
		</Root>
	</Loggers>
</Configuration>
