<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <style type="text/css">
      html, body { margin: 0 0 0 0; padding: 0px 0px 0px 0px; background-color: white; }
      h4 {  font-family: "Century Gothic", Verdana, Arial; font-size: 24px; line-height: 20px; color: black;  margin-right: 10px;}
      table {margin-left:auto; margin-right: auto;}
      td span {font-family: "Century Gothic", Verdana, Arial; font-size: 14px; line-height: 16px; color: black;  margin-left: 10px; margin-right: 10px;}
      #container  {width: auto; height: auto;}
   </style>
   <title>Canje Spin Premia</title>
</head>
<body>
   <div id="container">
         <table cellspacing="0" cellpadding="0" style="border: 10px solid #dadada; border-radius: 15px;">
            <tr style="background-color:white;">
               <td>
                  <div style="margin-left: 1em;">
                    <a href="https://www.biobox.com.mx"><img src="C:/pics/biobox.png" th:src="${logoBioBox}" alt="https://www.biobox.com.mx" style="width: 100px;" /></a>
                  </div>
               </td>
               <td colspan="3" align="left" valign="bottom">
                     <div style="text-align: left; margin-left:1em">
                        <p style="font-weight: bold;">
                           Gracias por usar el servicio de canje de puntos BioBox por Spin Premia. A continuación le entregamos los datos de su canje.
                        </p>
                     </div>
               </td>
            </tr>
            <tr>
               <td colspan="4">
               		<div style="background-color:#003550; height:20px;"></div>
               </td>
            </tr>
            <tr>   
               <td colspan="4" style="background-color:white;"> 
	               	<div> 
	                   	<p style="text-align: left;">
	                   		<b>Ticket:</b> <span style="font-size: 14px; background-color: #cae8ff;" th:text="${ticket}">123456</span>
	                  	</p>
	                </div>  	
               </td>
            </tr>
             <tr>
                 <td colspan="4" style="background-color:white;">
                     <div>
                         <p style="text-align: left;">
                             <b>Transacción:</b> <span style="font-size: 14px; background-color: #cae8ff;" th:text="${transaction}">123456</span>
                         </p>
                     </div>
                 </td>
             </tr>
            <tr>
               <td colspan="4">
               		<div style="background-color:#9fbb36; height:20px; text-align:center">
               			<span style="color:white;"></span>
               		</div>
               	</td>
            </tr>
         </table>
   </div>   
</body>
</html>
