<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <style type="text/css">
      html, body { margin: 0 0 0 0; padding: 0px 0px 0px 0px; background-color: white; }
      h4 {  font-family: "Century Gothic", Verdana, Arial; font-size: 24px; line-height: 20px; color: black;  margin-right: 10px;}
      table {margin-left:auto; margin-right: auto;}
      td span {font-family: "Century Gothic", Verdana, Arial; font-size: 14px; line-height: 16px; color: black;  margin-left: 10px; margin-right: 10px;}
      #container  {width: auto; height: auto;}
   </style>
    <title>Confirmaci&oacute;n de email.</title>
</head>
<body>
   <div id="container">   
         <table cellspacing="0" cellpadding="0" style="width: 100%">
         
            <tr style="background-color:white;">
               <td>
                  <div style="margin-left: 1em;">
                  <a href="https://www.biobox.com.mx"><img src="C:/pics/biobox.png" th:src="${logoBioBox}" alt="https://www.biobox.com.mx" style="width: 100px;" /></a>
                        
                  </div>            
               </td>
               <td colspan="3" align="right" valign="bottom">
                     <div style="text-align: right; margin-right:1em">
                        <h3>
                           Gracias por registrarte
                        </h3>
                     </div>
               </td>
            </tr>
            
            <tr>
               <td colspan="4">
               		<div style="background-color:#9fbb36; height:30px;"></div>
               </td>
            </tr>
            
            <tr>   
               <td colspan="4" style="background-color:white;"> 
                   <div style="text-align:center; font: 110% sans-serif">
				   <br/><br/>
				   <p>El email con que se registró acaba de ser confirmado</p>
					<p>Bienvenido a la familia BioBox.</p>
					<br/><br/>
                  </div>
               </td>
            </tr>            
           
            
            <tr>
               <td colspan="4">
               		<div style="background-color:#003550; height:30px; text-align:center;"> 					
						<p style="font-size:13px; color: #ffffff; font-weight: bold; position: relative; top: 30%;">© 2024 INNOVATION BOX GROUP, S.A. DE C.V. Todos los derechos reservados.</p>
               		</div>
               	</td>
            </tr>
            
         </table>
         
   </div>   
</body>
</html>